In [26]:
import pandas as pd 
import datetime

In [25]:
from stockai import Stock

td = Stock('MSFT')
prices_list = td.get_historical_prices('2021-01-01', '2021-01-30')

# Delete meta key
del(prices_list['meta'])

# print(prices_list)

df = pd.DataFrame.from_dict(prices_list)
df.head()

,low,open,volume,high,close,date,adjclose
0,214.809998,222.529999,37130100,223.000000,217.690002,1609770600,217.189774
1,215.699997,217.259995,23823000,218.520004,217.899994,1609857000,217.399292
2,211.940002,212.169998,35930700,216.490005,212.250000,1609943400,211.762268
3,213.710007,214.039993,27694500,219.339996,218.289993,1610029800,217.788391
4,217.029999,218.679993,22956200,220.580002,219.619995,1610116200,219.115341

In [45]:
stocks = ['AMZN', 'MSFT', 'INTC', 'GOOG']

start = (datetime.datetime.today() - datetime.timedelta(30)).strftime('%Y-%m-%d')
end = datetime.datetime.today().strftime('%Y-%m-%d')

# print(start)
# print(end)

cl_price = pd.DataFrame()
ohlcv_data = {}

# Loop through stock
for ticker in stocks:
    sk = Stock(ticker)
    data = sk.get_historical_prices(start, end)
    del(data['meta'])

    ohlcv_data[ticker] = data

#     print(len(data['open']))
    cl_price[ticker] = data['adjclose']
    
print(cl_price)

print('\nOpen Price for Mircrosoft \n')

print(ohlcv_data['MSFT']['open'])

           AMZN        MSFT       INTC         GOOG
0   3206.199951  231.426987  55.175091  1835.739990
1   3342.879883  239.099304  56.347969  1901.349976
2   3380.000000  238.959625  57.650070  1927.510010
3   3312.530029  242.441620  57.332001  2070.070068
4   3331.000000  241.453888  58.790001  2062.370117
5   3352.149902  241.643448  58.180000  2098.000000
6   3322.939941  241.912842  59.160000  2092.909912
7   3305.000000  243.209854  58.779999  2083.510010
8   3286.580078  242.262039  58.860001  2095.379883
9   3262.129883  243.928192  60.660000  2095.889893
10  3277.709961  244.427048  61.810001  2104.110107
11  3268.949951  243.139999  62.470001  2121.899902
12  3308.639893  244.199997  61.849998  2128.310059
13  3328.229980  243.789993  61.610001  2117.199951
14  3249.899902  240.970001  63.009998  2101.139893
15  3180.739990  234.509995  60.709999  2064.879883
16  3194.500000  233.270004  61.119999  2070.860107
17  3159.530029  234.550003  63.189999  2095.169922
18  3057.159912  228.990005  60.400002  2031.359985
19  3092.929932  232.380005  60.779999  2036.859985

Open Price for Mircrosoft

[235.99000549316406, 235.05999755859375, 241.3000030517578, 239.57000732421875, 242.66000366210938, 242.22999572753906, 243.14999389648438, 241.8699951171875, 245.0, 244.77999877929688, 243.92999267578125, 245.02999877929688, 241.32000732421875, 241.8000030517578, 243.75, 237.4199981689453, 230.3300018310547, 230.00999450683594, 232.0800018310547, 231.52999877929688]